<h3>{{title}}</h3>
<br>
<div *ngIf="!hogar">
    Cargando productos para el Hogar
</div>


<div class="row">
  <table class="table table-bordered table-striped text-center">
    <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Categoria</th>
      <th>Telefono</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tec of hogar">
      <td>{{tec.id}}</td>
      <td>{{tec.nombre}}</td>
      <td>{{tec.precio}}</td>
      <td>{{tec.categoria}}</td>
      <td>{{tec.contactoVendedor}}</td>
    </tr>

    </tbody>
  </table>
</div>

