<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/assets/styles.css" type="text/css">

</head>
<body>
  <div class="row">
    <table class="table table-bordered table-striped text-center">
      <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoria</th>
        <th>Telefono</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tec of tecnologia">
        <td>{{tec.id}}</td>
        <td>{{tec.nombre}}</td>
        <td>{{tec.precio}}</td>
        <td>{{tec.categoria}}</td>
        <td>{{tec.contactoVendedor}}</td>
      </tr>

      </tbody>
    </table>
  </div>


</body>
</html>
