<h3>{{title}}</h3>



<div class="row">
  <table class="table table-bordered table-striped text-center">
    <thead>
    <tr>
      <th>#</th>
      <th>Img</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Categoria</th>
      <th>Telefono</th>
    </tr>
    </thead>
    <tbody>

        <tr *ngFor="let tec of vestuario">
          <td>{{tec.id}}</td>
          <td> <img src="{{tec.imagen}}" style="width: 40px;border-radius: 10px"/></td>
          <td>{{tec.nombre}}</td>
          <td>{{tec.precio}}</td>
          <td>{{tec.categoria}}</td>
          <td>{{tec.contactoVendedor}}</td>
        </tr>

    </tbody>
  </table>
</div>


