#contenido {
    borde : 1pxsolid #eee ;
    borde : 1pxsolid rgba( 8 , 53 , 150 , 0.404 ) ;
    border-radius : 4px;
    margin-top : 30px;
    background : white ;
    background : rgba(255,255,255, 0.404 ) ;
    cuadro-sombra : 0px 2px 4px #ccc ;
    relleno : 0px;
    desbordamiento : oculto;
}
#encabezado {
    background : #00adce ;
    color : white ;
    background : #007cce9f ;
    color : rgba( 255 , 255 , 255 , 0.897 ) ;
    margen : 0px;
    altura : 80px;
   line-height : 90px;
}
#encabezado  h1 {
    pantalla : bloque;
   line-height : 50px;
}
#nav  ul {
    tipo-estilo-lista : ninguno;
    margen : 0px;
}
#nav  ul  li {
    flotador : izquierda;
    margin-right : 20px;
}
#nav  ul  li  a {
    altura : 30px;
    pantalla : bloque;
   line-height : 30px;
}
#nav {
    relleno : 0px;
    margen : 0px;
}
#main . jumbotron {
    relleno : 50px;
    margin-top : 30px;
}
